{% autoescape off %}
<div class="container justify-content-center">
  <div class="col-md-8">
    <p>Hi {{ user }},</p>
    <p>This is to notify you that your image has been successfully approved</p>
    <p>and your wallet has been credited with {{bonus}} naira image approval</p>
    <p>reward.</p>
    <p>Kind add more images and perform more activities on the site to </p>
    <p>earn more thanks.</p>
    <p></p>
    <p></p>
    <p></p>
    <p>Regards,</p>
    <p>Simplerefers</p>
  </div>
</div>

<h4>Visit website</h4>
<a href="https://simplerefers.com">simplerefers.com</a>
{% endautoescape %}
