{% extends 'base.html' %}

{% block body %}
{# Load crispy form for better form rendering #}
{% load crispy_forms_tags %}
<div class="container m-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="text-center">Password Reset Email</h2>
      <hr class="mb-5">

      <form method="post">
        {% include "main/messages.html" %}
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row justify-content-center">
          <input type="submit" class="btn btn-primary btn-md" name="submit_email" value="Set Password">
        </div>
        <!-- <div class="row justify-content-center mt-3">
          <p>Not registered? <a href="{% url 'main:signup' %}">Signup now</a></p>
        </div> -->
      </form>
    </div>
  </div>
</div>

{% endblock body %}
